Название отчета: <input type="text" class="form-control" ng-model="document.settings.reportTitle"><br>
Номер работы: <input type="text" class="form-control" ng-model="document.settings.reportNumber"><br>
Название предмета: <input type="text" class="form-control" ng-model="document.settings.reportSubject"><br>
Фамилия И.О. автора: <input type="text" class="form-control" ng-model="document.settings.reportAuthorName"><br>
Должность и номер группы: <input type="text" class="form-control" ng-model="document.settings.reportAuthorInfo"><br>
Институт: <input type="text" class="form-control" ng-model="document.settings.reportAuthorFacility"><br>
Направление: <input type="text" class="form-control" ng-model="document.settings.reportAuthorSpeciality"><br>
Кафедра: <input type="text" class="form-control" ng-model="document.settings.reportAuthorDepartment"><br>
Фамилия И.О. проверяющего: <input type="text" class="form-control" ng-model="document.settings.reportTeacherName"><br>
Должность проверяющего: <input type="text" class="form-control" ng-model="document.settings.reportTeacherInfo"><br>
Город: <input type="text" class="form-control" ng-model="document.settings.reportCity"><br>
Год: <input type="text" class="form-control" ng-model="document.settings.reportYear"><br>